<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Pet: Креирај профил</title>
    <link th:href="@{/register.css}" rel="stylesheet">
</head>
<body>
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="/addOwner">Креирај нов профил</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <form id="stripe-login" th:method="POST" th:action="@{'/addOwner'}">
                            <div class="field padding-bottom--24">
                                <label for="name">Име</label>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="surname">Презиме</label>
                                <input type="text" name="surname" id="surname">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="username">Email</label>
                                <input type="email" name="username" id="username">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">Password</label>
                                </div>
                                <input type="password" name="password" id="password">
                            </div>
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Продолжи">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>